[Unit]
Description=UnrealIRCd
After=network.target remote-fs.target nss-lookup.target

[Service]
User=unrealircd
ExecStart=/usr/bin/unrealircd -F
PrivateTmp=true

[Install]
WantedBy=multi-user.target
